@media screen(max-width: 1068px) {
}

body {
    background-color: aqua !important;
}

a {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

nav {
    text-align: right;
    font-size: 20px;
    display: block;
}
.menu {
    position:fixed;
    display: flex;
    justify-content: space-between;
    border: 5px dotted #32CD32;
    background-color: #303030;
    padding: 10px;
    width: 95vw;
    margin: 10px;
}

p {
    color: aliceblue;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 10px;
}